@viewport {
    width: device-width;
    zoom: 1;
}
*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
    
}


body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

h1 {
    color: #ffffff;
    font-family: "Sansita One", serif;
    font-size: 2rem;
    display: grid;
}
h1 ::after{
    content : '';
    background: black;
    top:0;
    right: 100%;
    height: 100%;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}
h1 ::before{
    content: '';
    background: hsl(var(--hue), 100%, 20%);;
    top:0;
    right:0;
    width: 100%;
    right: 100%;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}
h1:nth-of-type(1)::before,
h1:nth-of-type(1)::after{
    animation-delay: 1s;
}
h1:nth-of-type(2)::before,
h1:nth-of-type(2)::after{
    animation-delay:1.5s;
}
@keyframes a-ltr-after{
    0%{transform: translateX(-100%)}
    100%{transform: translateX(101%)}
}
@keyframes a-ltr-before{
    0%{transform: translateX(0)}
    100%{transform: translateX(200%)}
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    position: relative;
    top: -50%;
    left: 10%;
    
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color:black;
}

.btn.wrong{
    --hue:  var(--hue-wrong);
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}
